body {
    background-color: mediumspringgreen;
}

.container {
    display: flex;
    justify-content: center;
    margin: 100px;
}
.calculator {
    justify-content: center;
    border: 2px black solid;
    background-color: gray;
    border-radius: 12px;
}

.screen {
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 12px;
    background-color: pink;
    text-align: right;    
    font-size: 50px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
}

button {
    border: 2px black solid;
    padding: 20px;
    border-radius: 12px;
    font-size: 15px;
    margin: 5px;
}

.zero {
    grid-column: 1 / 3;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: pink;
    color: black;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}